/* src/components/Countdown/Countdown.css */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #333; /* Fondo oscuro para toda la página */
  color: #fff; /* Color de texto claro */
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
  align-items: center; /* Centrado horizontal */
  text-align: center; /* Alineamos el texto en el centro */
  padding: 20px;
  background-color: #00000053;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  z-index: 1; /* Aseguramos que esté debajo del confeti */
}

.countdown h2 {
  color: #ffd700;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.countdown p {
  font-size: 1.2rem;
  color: #eee;
  margin-bottom: 20px;
}

.timer-wrapper {
  display: flex;
  justify-content: center; /* Alineación horizontal de los componentes del timer */
  gap: 10px; /* Espacio entre los componentes */
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.timer-component {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  margin: 0 10px; /* Espacio entre los elementos del contador */
}

/* Media queries para dispositivos más pequeños */
@media (max-width: 768px) {
  .countdown {
    padding: 15px;
    font-size: 1.5rem;
  }

  .countdown h2 {
    font-size: 2rem;
  }

  .countdown p {
    font-size: 1rem;
  }

  .timer-component {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .countdown {
    padding: 10px;
    font-size: 1.2rem;
  }

  .countdown h2 {
    font-size: 1.5rem;
  }

  .countdown p {
    font-size: 0.9rem;
  }

  .timer-component {
    font-size: 1.2rem;
  }
}

/* Para tabletas en modo horizontal */
@media (min-width: 769px) and (max-width: 1024px) {
  .countdown {
    padding: 20px;
    font-size: 1.8rem;
  }

  .countdown h2 {
    font-size: 2.2rem;
  }

  .countdown p {
    font-size: 1.1rem;
  }

  .timer-component {
    font-size: 1.8rem;
  }
}

/* Asegúrate de que el contenedor de confeti cubra todo el div countdown */
.confetti-container {
  position: absolute; /* Esto asegura que se superponga al div countdown */
  top: 0;
  left: 0;
  width: 100%; /* Ajusta el tamaño al 100% del div countdown */
  height: 100%; /* Ajusta el tamaño al 100% del div countdown */
  z-index: 2; /* Asegura que el confeti esté por encima del div countdown */
  pointer-events: none; /* Evita que el confeti interfiera con la interacción del usuario */
}
